
<%= render(LesliView::Layout::Container.new("audit-users")) do %>
    <%= render(LesliView::Components::Header.new("Users")) %>

    <div class="columns">
        <div class="column">
            <%= render(LesliView::Charts::Bar.new(
                title:"Registered users", 
                database_to_dataset: @registrations.as_json
            ))%>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <%= render(LesliView::Elements::Table.new(
                columns: [{
                    label: "id",
                    field: "user_id"
                },{
                    label: "User",
                    field: "user_email"
                },{
                    label:"First activity",
                    field:"first_activity"
                },{
                    label:"Last activity",
                    field:"last_activity"
                },{
                    label:"Resources",
                    field:"resources"
                },{
                    label:"Requests",
                    field:"requests"
                },{
                    label:"Date",
                    field:"date"
                }],
                records: @working_hours
            )) %>
        </div>
    </div>
<% end %>
