
<%= render(LesliView::Layout::Container.new("audit-users")) do %>
    <%= render(LesliView::Components::Header.new("Users")) %>

    <div class="columns">
        <div class="column">
            <%= render(LesliView::Charts::Bar.new(
                title:"Registered users", 
                labels: @users.map { |item| item[:date] },
                serie: @users.map { |item| item[:count] }
            ))%>
        </div>
    </div>
<% end %>
